*{
    margin: 0;
}
main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: grey;
}
.userDiv{
    border: 1px solid;
    height: 175px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    background: #7c37b1;
    font-size: 26px;
}
.userDetailsBtn{
    text-decoration: none;
    color: deeppink;
    background: grey;
    border-radius: 15px;
    padding: 10px;
}
/*------------------------- user-details.html ------------------------------*/
#userSection {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin-top: 5px;
}
#userSection div{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
}

#userDetails{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    padding: 15px;
    gap: 5px;
    font-size: 20px;
}
#userDetails div{
    border: 1px solid;
    min-width: 15%;
    background: #b084dd;
    padding: 5px;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#userDetails p{
    border: 1px solid;
    min-width: 15%;
    background: #7c37b1;
    color: black;
    text-align: center;
    padding: 2px;
}
#userDetails button{
    width: 90vw;
    font-size: 42px;
    background: #4e4e4e;
    color: deeppink;
    padding: 5px;
    border-radius: 10px;
}

#postsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 90%;
}
#postsDiv>div{
    width: 100%;
    height: 50%;
}

.postDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 20%;
    height: 100%;
    font-size: 24px;
    background: #b084dd;
    padding: 2px;
}
.postDiv p{
    text-align: center;
}
.postDetailsBtn{
    background: #4e4e4e;
    border-radius: 5px;
    color: deeppink;
    text-decoration: none;
    padding: 3px;
}
/*--------------------------------- post-details.html ----------------------------------*/
#postSection{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    margin-top: 5px;
    gap: 30px;
    padding: 5px;
}
#postDetailsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 30px;
    border: 1px solid;
    padding: 15px;
    gap: 10px;
}
#postDetailsDiv>p{
    background: #b084dd;
    border: 1px solid;
    border-radius: 5px;
    padding: 5px;
    min-width: 25%;
    text-align: center;
}
#commentsDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid;
    width: 100%;
}
#commentsDiv>div{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid;
    width: 100%;
}
.commentDiv{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 4px;
    border: 1px solid;
    height: 100%;
    width: 25%;
    background: #b084dd;
}
.commentDiv p{
    border: 1px solid;
    padding: 1px;
    width: 100%;
    background: #7c37b1;
}